rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /asistencia/{document} {
      allow read, write: if true;
    }
    match /estudiantes/{document} {
      allow read, write: if true;
    }
    match /observaciones/{document} {
      allow read, write: if true;
    }
  }
}